<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
<div class="flashcard-container">
    <div class="flashcard">
        <form method="post" action="{{ url_for('quiz') }}">
            <div class="question">
                {{ flashcard.question }}
            </div>
            <div class="choices">
                {% for choice in flashcard.choices %}
                <label>
                    <input type="radio" name="choice" value="{{ choice }}" required>
                    {{ choice }}
                </label>
                {% endfor %}
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>